:root{
    --width: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    color:rgb(61, 61, 61);
}

body {
    
    font-family: monospace;

}
body::before{
    z-index: -1;
    content: "";
    width: 100%;
    height:100%;
    background-image: url("./images/mountain_range.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    bottom: 0;
    right: 0;
    filter: blur(5px);
    transform: scale(1.1);
    /* -webkit-filter: blur(5px); */

}

#h1container{
    width: max-content;
}
h1 {
    
    float:left;
    width: 100%;
}
#subtext{
    display:block;
    margin-top: 1em;
    width:70%;
    
}

#typewriter{

    font-size: 200%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}
.body-container{
    height:100vh;
    
    display:flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-15em);
    

}



.main{
    padding: 0 0 0 8em;
}